# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/

# Cache files
.cache/
.temp/
.vite/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/

# Environment variables
.env
.env.*.local

# Parcel-bundler cache
.cache/

# MacOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Package-lock files
package-lock.json*
yarn.lock
pnpm-lock.yaml
